__pycache__/
*.pyc
.env
.vscode/

#logs
logs/

# test
test/

evaluation/eval_report.jsonl
evaluation/eval_summary.jsonl
evaluation/eval_embedding_threshold_report.jsonl
evaluation/eval_embedding_threshold_summary.jsonl
evaluation/eval_grounding_report.jsonl
evaluation/eval_grounding_summary.jsonl